* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --main-blue: #0040b8;
  --hover-blue: #008bd6;
  --light-blue: #dbe9f1;
  --main-trans: 0.5s;
}
html {
  scroll-behavior: smooth;
}
/* Base */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
h1 {
  font-size: clamp(1.25rem, 5vw, 1.75rem);
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Small devices (≥576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* XXL (≥1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* header Styling */
header {
  padding: 10px 0px;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container h1 {
  display: flex;
  align-items: center;
}
header .container h1 i {
  color: var(--main-blue);
}
header .container h1 span {
  color: var(--main-blue);
}
header .container nav button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

header .container nav ul {
  position:absolute;
  top: 100%;
  left: 0;
  background-color: rgb(226, 226, 226);
}
header .container nav ul li {
  margin: 12px 0px;
}
header .container nav ul li a {
  padding: 4px;
  color: black;
  transition:var(--main-trans);
  display: block;
  text-align: center;
}
header .container nav button i {
  color: var(--main-blue);
  font-size: 1.125rem;
}
/* header Styling */
